    body {
        background-color: #00b8ff;
    }
    ul{
        width: 75%;
        background-color: white;
        margin: 20px auto 20px auto;
        border: 20px;
        padding: 20px;
        list-style: none;
    }
    li{
        text-align: left;
        margin: 10px;
        color: black;
        font-family: arial;
        font-size: large;
    }
    h1{
        color: black;
        text-align: center;
        font-family: cursive;
    }
    h2{
        text-align: center;
        font-family: arial;
    }
    h3{
        text-align: left;
        color: red;
        font-family: arial;
    }
    #first_image{
        width: 100px;
    }
    .Pomodoro_estimate{
        color: red;
        text-align: inherit;
    }
    #editbutton{
        background-color: #48D09B;
        margin: 30px 30px 30px 30px;
        border-radius: 3px;
        box-shadow: 2px 2px 1px #00b8ff;
        padding: 5px;
        font-family: arial;
    }
    #deletebutton{
        background-color: #fb6767;
        margin: 30px 30px 30px 30px;
        border-radius: 3px;
        box-shadow: 2px 2px 1px #00b8ff;
        padding: 5px;
        font-family: arial;
    }
    #gobackbutton{
        margin: 20px 0px 20px 20px
    }
    .completed_todo{
        text-decoration: line-through;
    }
    #tododescription{
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: arial;
    }