<h1>Edit Todo</h1>
<form action = "/todo/update/<%= @todo.id %>">
    <input name ="description" type="text" value="<%= @todo.description %>"/>
    <input name ="pomodoro_estimate"  type="number" value="<%= @todo.pomodoro_estimate %>"/>
    <input type="submit" value="Edit Todo"/>
</form>