        <h1>
            <img id="first_image" src="http://myemployees.com/wp-content/uploads/2015/07/to-do-list.jpg"></img>
        </h1>
        <h2>
            Todo list at Home 
        </h2>
        <ul class="todo_list">
        <li class="todo_at_home">
            <input type="checkbox" name=""/>
            <a href="show/1">Fix Bed</a>
            <span class="Pomodoro_estimate">1 Pomodoros</span>
        </li>
        <li class="todo_at_home">
            <input type="checkbox" name=""/>
            <a href="show/2">Clean room</a>
            <span class="Pomodoro_estimate">1 Pomodoros</span>
        </li>
        <li class="todo_at_home">
            <input type="checkbox" name=""/>
            <a href="show/3">Put Dishes Away</a>
            <span class="Pomodoro_estimate">1 Pomodoros</span>
        </li>
        <li class="todo_at_home">
            <input type="checkbox" name=""/>
            <a href="show/4">Work on Homework</a>
            <span class="Pomodoro_estimate">3 Pomodoros</span>
        </li>
        <li class="todo_at_home">
            <input type="checkbox" name=""/>
            <a href="show/5">Vacuum</a>
            <span class="Pomodoro_estimate">1 Pomodoros</span>
            </li>
        <li class="todo_at_home">
            <input type="checkbox" name=""/>
            <a href="show/6">Take out the Garbage</a>
            <span class="Pomodoro_estimate">1 Pomodoros</span>
            </li>
        <li class="todo_at_home">
            <input type="checkbox" name=""/>
            <a href="show/7">Shower</a>
            <span class="Pomodoro_estimate">1 Pomodoros</span>
        </li>
        <li class="todo_at_home">
            <input type="checkbox" name=""/>
            <a href="show/8">Put Clothes Away</a>
            <span class="Pomodoro_estimate">1 Pomodoros</span>
        </li>
        
        </ul>
        <div id="new_todo">
            <div>
                <input id="buttonoftodo" type="button" value="Edit New Todo"/>
            </div>
        </div>