<h1>New Todo</h1>
<form action = "/todo/create">
    <input name ="description" type="text" placeholder="Name of Todo"/>
    <input name ="pomodoro_estimate"  type="number" placeholder="Pomodoro Estimate"/>
    <input type="submit" value="Add New Todo"/>
</form>