<h2><%= params[:id]%></h2>
<div>
    <h3 id="todoestimate">
        <%= @todo.pomodoro_estimate %> Pomodoro
    </h3>
</div>
<div id="tododescription">
    <%= @todo.description %>
    <a id="editbutton" href="/todo/edit/<%= @todo.id%>">Edit</a>
    <a id="deletebutton" href="">Delete</a>
</div>
<div id="gobackbutton">
    <a class="editbutton" href="/todo/index">Go Back</a>
</div>
